#detailSidebar {
    transition: transform 0.3s ease-out;
    transform: translateX(100%); /* Start off-screen to the right */
    display: none; /* Initially hidden */
}

/* Backdrop style */
.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 40;
    display: none; /* Initially hidden */
}