@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}


.koala__home-container__home {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.koala__home-container__logo {
    position: absolute;
    width: 100%;
    height: 111.14px;
    left: calc(50% - 157px/2 - 0.5px);
    top: 122px;
    height: auto;
}

.koala__home-container__button-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.koala__home-container__button {
    box-sizing: border-box;
    position: absolute;
    width: 329px;
    height: 370px;

    color: #101828;
    font-family: "Noto Sans", sans-serif;
    font-weight: 700;
    font-size: 1.8vw;
    text-align: center;
    background: #FFFFFF;
    border: 2px solid rgba(0, 0, 0, 0.18);
    border-radius: 10px;
}

.koala__home-container__button img {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: 1;
    height: auto;
}

.button1 img {
    top: 18%;
}

.button1 {
    left: 20%;
    top: 35%;
}

.button2 {
    left: 60%;
    top: 35%;
}

.btn {
    width: 329px;
    height: 370px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 60%;
    text-align: center;
}

.btn:hover {
    background: #C9171E;
    border-radius: 10px;
    color:#FFFFFF;
    transition: 0.3s ease;
}

.koala__home-container__link {
    font-family: "Noto Sans", sans-serif;
    font-weight: 700;
    font-size: 1.8vw;
    color: #101828;
}

.koala__home-container__login {
    position: absolute;
    left: 85%;
    top: 8%;
}

.koala__home-container__link:hover {
    color: #C9171E;
}

.koala__home-container__link:before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0; 
    width: 0%;
    height: 3px;
    background-color: #C9171E;
    transition: all .5s;
}

.koala__home-container__link:hover::before {
    width: 100%;

}





